# Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
# Set path

path = r"C:\Users\marce\Documents\Instacart Basket Analysis"

In [3]:
# Import ords_prods_merged_02.pkl

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))

In [4]:
# Drop columns '_merge' and 'exists'

ords_prods_merge= ords_prods_merge.drop(columns = ['_merge', 'exists'])

In [5]:
ords_prods_merge.shape

(32404859, 17)

In [6]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              float16
 7   add_to_cart_order       float16
 8   reordered               float16
 9   product_name            object
 10  aisle_id                int8
 11  department_id           int8
 12  prices                  float16
 13  price_range_loc         object
 14  busiest_day             object
 15  busiest_days            object
 16  busiest_period_of_day   object
dtypes: float16(5), int32(2), int8(5), object(5)
memory usage: 2.1+ GB

# 2. Find the aggregated mean of the “order_number” column grouped by “department_id”

In [7]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?
For the entire dataframe we have all department_ids and the mean of the 'order_number' it has changed, decreasing for all departments, with the exception of department_id 17, which increased.

# 4. Create a loyalty flag for existing customers using the transform() and loc() functions

In [8]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'order_number' column to generate the max orders for each user.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Most orders,22
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Most orders,22
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

### Create a flag that assigns a 'loyalty' label to a user ID based on its corresponding max order value

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40) & (ords_prods_merge['max_order']> 10), 'loyalty_flag']= 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10, 'loyalty_flag']='New customer'

In [13]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Most orders,3,New customer
96,1469869,377,3,5,17,3.0,196.0,9.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,3,New customer
97,1927023,387,2,4,10,22.0,196.0,3.0,0.0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,8,New customer
98,858092,420,4,1,19,30.0,196.0,2.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
99,119314,420,5,3,19,16.0,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,22,Regular customer

In [14]:
#Checking the count of 'loyalty_flag' values

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False).sum()

32404859

In [16]:
ords_prods_merge.shape

(32404859, 19)

 # 5. Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer)

In [17]:
# Produce multiple statistic (mean, min, max, sum) using agg() 

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']}, skipna=False)

                 prices
                   mean  min  max sum
loyalty_flag
Loyal customer      NaN  1.0  inf NaN
New customer        NaN  1.0  inf NaN
Regular customer    NaN  1.0  inf NaN

In [18]:

ords_prods_merge['prices'].describe()

count    3.240486e+07
mean              NaN
std               NaN
min      1.000000e+00
25%      4.199219e+00
50%      7.398438e+00
75%      1.129688e+01
max               inf
Name: prices, dtype: float64

In [19]:
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.000000,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.000000,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.000000,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.000000,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.000000,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404855,31526,202557,18,5,11,3.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404856,758936,203436,1,2,7,NaN,42336.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Regular days,Average orders,3,New customer
32404857,2745165,203436,2,3,5,15.0,42336.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer
32404858,3093936,205420,1,4,14,NaN,28816.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,-126,14,10.296875,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer

In [20]:
ords_prods_merge['prices'].isna().any()

False

In [23]:
# Replace "Inf" values with NaN
ords_prods_merge.replace([np.inf, -np.inf], np.nan, inplace=True)

In [31]:
# Drop rows with "NaN" values
ords_prods_merge.dropna(subset=['prices'], inplace=True)

In [28]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']}, skipna=False)

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer     9.578717  1.0  14896.0   98507624.0
New customer      10.059199  1.0  14896.0   62807508.0
Regular customer   9.894030  1.0  14896.0  157081200.0

In [32]:
ords_prods_merge.tail(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
32404844,1928449,202557,4,4,9,16.0,43552.0,4.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Least busy,Slowest days,Most orders,31,Regular customer
32404845,2222639,202557,6,5,9,4.0,43552.0,3.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404846,339942,202557,8,4,10,4.0,43552.0,3.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Least busy,Slowest days,Most orders,31,Regular customer
32404847,2798193,202557,9,4,13,7.0,43552.0,5.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Least busy,Slowest days,Most orders,31,Regular customer
32404848,2391791,202557,11,6,6,8.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Fewest orders,31,Regular customer
32404849,576295,202557,12,3,10,11.0,43552.0,14.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Slowest days,Most orders,31,Regular customer
32404850,960088,202557,13,4,12,15.0,43552.0,3.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Least busy,Slowest days,Most orders,31,Regular customer
32404851,343962,202557,14,0,10,3.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Busiest day,Busiest days,Most orders,31,Regular customer
32404852,2329472,202557,15,6,12,6.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404853,694731,202557,16,1,14,2.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Busiest days,Most orders,31,Regular customer
32404854,1320836,202557,17,2,15,1.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404855,31526,202557,18,5,11,3.0,43552.0,2.0,1.0,Orange Energy Shots,64,7,3.699219,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer
32404856,758936,203436,1,2,7,NaN,42336.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Regular days,Average orders,3,New customer
32404857,2745165,203436,2,3,5,15.0,42336.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.898438,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer
32404858,3093936,205420,1,4,14,NaN,28816.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,-126,14,10.296875,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer

In [21]:
# Export ords_prods_merge in csv format

ords_prods_merge.to_csv(r'C:\Users\marce\Documents\Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge_3a.csv')